<section class="call_to_action">
  <div class="constrict">
    <div class="call_to_action_wrapper">
      <span>
        <a class="underline" href="{{block.link.url.url}}" target="{{block.link.url.target}}">{{block.link.label}}</a>
        {{block.text}}
      </span>
    </div>
  </div>
</section>
