{% import 'macros/titles.twig' as title %}

<section class="event_title">
  <div class="constrict">
    <div class="event_title_wrapper">
      {{ title.main(block.title, '', true) }}
    </div>
  </div>
</section>
