<section class="news_quote">
  <div class="constrict">
    <div class="news_quote_wrapper">
      <h2>
        "{{block.quote}}"
      </h2>
      <p>{{block.quoted_by}}</p>
    </div>
  </div>
</section>
