<section class="news_big_image">
  <div class="constrict">
    <div class="news_big_image_wrapper">
      <picture>
        {% include 'partial/img.twig' with { img: block.image, thumb: 'full' } %}
      </picture>
    </div>
  </div>
</section>
