{% import 'macros/titles.twig' as title %}

<section class="partners">
  <div class="constrict">
    {{ title.main(block.title, '', true) }}
    <div class="partners_wrapper">
      <div class="partners_slider">
        {% for partner_block in block.partner_list %}
        <div class="partners_slide">
          <img src="{{ partner_block.url }}" alt="{{ partner_block.alt }}" />
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script>
const partnersSlider = document.querySelector('.partners_slider');
const partnersSlides = document.querySelectorAll('.partners_slide');
const slideCount = partnersSlides.length;
const slideWidth = partnersSlides[0].clientWidth;

let x = -slideWidth * (slideCount - 1);
let frame = null;

function animate() {
  x--;
  if (x <= -slideWidth * slideCount) {
    x = 0;
  }
  partnersSlider.style.transform = `translateX(${x}px)`;
  frame = window.requestAnimationFrame(animate);
}

animate();

partnersSlider.addEventListener('mouseover', () => {
  window.cancelAnimationFrame(frame);
});

partnersSlider.addEventListener('mouseout', () => {
  animate();
});

</script>
