{% import 'macros/titles.twig' as title %}

<section class="partners">
<div class="constrict">
  {{ title.main(block.title, '', true) }}
  <div class="partners_wrapper">
    {% for item in block.partners %}
      {% include 'partial/img.twig' with { img: item.partner_1, thumb: 'full' } %}
    {{ block.partner_list }}
    {{ block.partner_list.partner_1 }}
            {% endfor %}

  </div>
</div>
</section>