.archive-block {
  .constrict {
    max-width: $desktop-md;
  }

  .archive-block__wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 377px);
    grid-template-rows: 3;
    justify-content: center;
  }

  .article-teaser {
    display: flex;
    flex-direction: row;
  }
}

a.category {
  font-size: 14px;
}

a.category:hover {
  color: grey;
}

a.category::after {
  display: none;
}

.archive-block .article-teaser {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.article-teaser__visual img {
  min-width: 100%;
  min-height: 200px;
}

/* Search Form */

.search-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 70px;
}

.search-form {
  width: 600px;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 660px; /* Adjust the width as needed */
  border: 1px solid;
  display: block;
  padding: 9px 4px 9px 10px; /* Adjust the left padding as needed */
  background-image: url('../../../../../../app/themes/timber/static/assets/img/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right 10px center; /* Set the position of the search icon */
  background-size: 16px; /* Adjust the size of the search icon */
}

/* Category filter */
.category-filter {
  a::after {
    display: none;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  padding-bottom: 50px;
}

.category-box {
  background-color: #f2f2f2;
  height: 50px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.category-box:hover,
.category-box.active,
.category-box.active a {
  background-color: black;
  color: $nucleon-green;
}

@include below($tablet) {
  .archive-block {
    &__wrapper {
      .article-teaser {
        grid-template-columns: 1fr;

        &__visual {
          width: 100%;
          height: rem(350);
        }
      }
    }
  }
}
