.archive-block {
  .constrict {
    max-width: $desktop-md;
  }
  &__wrapper {
    display: grid;
    grid-gap: rem(60);

    .article-teaser {
      &__visual {
        width: rem(315);
        height: rem(315);
      }
    }
  }
}

@include below($tablet) {
  .archive-block {
    &__wrapper {
      .article-teaser {
        grid-template-columns: 1fr;

        &__visual {
          width: 100%;
          height: rem(350);
        }
      }
    }
  }
}
