.content_grid_blocks {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.content_grid_blocks_item {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.content_grid_blocks_item_text {
  padding: 80px;
  margin: 0;
}

.content_grid_blocks_row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;

  &--reverse {
    flex-direction: row-reverse;
  }

  .content_grid_blocks_item,
  .content_grid_blocks_item_visual {
    flex: 1;
    margin: 0;
    padding: 0;
  }

  .content_grid_blocks_item_visual {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
