.customervideo_block {
  padding: 6rem 0;
  height: 100%;
}

.customervideo_block a.underline:after {
  color: $nucleon-green;
}

.customervideo_cta {
  text-align: right;
  font-size: 1.3rem;
}

.customervideo_cta a {
  font-size: 1.3rem;
}

.customervideo_content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.customervideo_title {
  width: 80%;
  max-width: 100%;
}

.customervideo_video {
  display: flex;
  justify-content: center;
  height: auto;
  padding-bottom: 3rem;
}

.customervideo_video video {
  height: auto;
  width: 100%;
  max-width: 100%;
}
