.content_grid_blocks {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  .link {
    padding-top: 30px;
  }
  
  .content_grid_blocks_item {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
  
  .content_grid_blocks_row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
  
    &--reverse {
      flex-direction: row-reverse;
    }
  
    .content_grid_blocks_item {
      flex: 1;
      flex-direction: column;
      margin: 0;
      padding: 80px;
      align-items: flex-start;
      width: 50%;
    }
  
    .content_grid_blocks_item_visual {
      width: 50%;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  