.icon_block_columns {
  &_wrapper {
    margin-top: rem(50);

    & > .title {
      margin-bottom: rem(31);
    }

    .call_to_action_element{
      font-size: 1.65rem;
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;

      .cta_link {
        font-size: 1.65rem;
        margin-right: 10px;
      }

      a.underline:after{
        color: $nucleon-green;
      }

      a::after {
        height: 0.085rem;
    }
  }

    .blocks {
      display: grid;
      grid-auto-flow: column;
      grid-gap: rem(30);

      .block {
        padding: rem(40);
        display: grid;
        grid-template-rows: minmax(#{rem(100)}, auto) minmax(#{rem(100)}, auto) 1fr;

        &__visual {
          width: rem(100);
          height: rem(100);
          position: relative;
          margin-bottom: rem(80);

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .title {
          color: $black;
        }
      }
    }
  }
}

@include below($desktop) {
  .icon_block_columns {
    &_wrapper {
      .blocks {
        grid-auto-flow: row;
      }
    }
  }
}