.wpml-ls {
  &.wpml-ls-legacy-list-horizontal {
    margin: 0 0 0 2.5rem;

    @include below($tablet) {
      margin: 0 1rem 0 0;
    }

    > ul {
      display: flex;
    }

    a {
      padding-top: rem(20);
      font-weight: 300;

      &::after {
        width: 0;
        color: $nucleon-green;
      }

      &:hover::after {
        width: 100%;
      }
    }

    li + li {
      margin-left: 0.5em;
    }

    .wpml-ls-current-language a::after {
      width: 100%;
    }
  }
}
