.partners {
  margin-top: 10rem;
}

.partners_slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.partners_wrapper {
  overflow: inherit;
  margin-top: 4rem;
}
.partners_slider {
  display: inline-flex;
  transition: transform 0.5s linear;
  white-space: nowrap;
  align-items: center;
}
.partners_slide {
  display: inline-block;
  margin-right: 5rem;
}

.partners_slide img {
  width: 150px;
  height: auto;
}