.partners_wrapper {
  position: relative;
}

.partners_slider {
  display: flex;
  overflow: hidden;
  margin: 5rem;
  width: 100%;
}

.partners_slide {
  width: 20%;
  flex-shrink: 0;
}

.partners_slide:first-of-type {
  margin-right: 20px;
}

.partners-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.partners-nav-prev {
  left: 5rem;
}

.partners-nav-next {
  right: 5rem;
  z-index: 1;
}

.partners-nav button {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
}

.partners-nav button:hover {
  color: $nucleon-green;
}
