.posts {
  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(60);
    align-items: stretch;

    .post_column {
      margin-top: rem(150);

      &__title {
        margin-bottom: rem(70);
      }
    }

    .posts-grid {
      display: grid;
      grid-gap: rem(60);
      margin-bottom: rem(60);
    }

    .post-archive-link {
      align-self: end;
      color: black;
      font-size: 22px;

    }

    a.post-archive-link.underline:after{
      color: $nucleon-green;
      height: 2px;
    }
  }
}

h3.article-teaser__title.title {
  color: black;
  font-weight: bolder;
}

.article-teaser {
  display: grid;
  grid-template-columns: minmax(#{rem(200)}, auto) 1fr;
  grid-gap: rem(30);
  background-color: $nucleon-grey;
  padding: 2rem;
  align-items: center;

  &__visual {
    width: rem(200);
    height: rem(200);
    position: relative;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: grid;
    grid-gap: rem(30);
    grid-template-rows: minmax(#{rem(20)}, auto) 1fr minmax(#{rem(20)}, auto);

    & > * {
      margin: 0;
    }

    a {
      align-self: end;
    }
  }
}

.article-teaser-event {
  display: grid;
  grid-template-columns: minmax(12.5rem, auto) 1fr;
  justify-items: end;
  grid-gap: 1.875rem;
  align-items: center;
  height: 400px;

  &__visual {
    width: 32rem;
    height: -webkit-fill-available;
    position: relative;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding: 2rem;
    display: grid;
    grid-gap: rem(30);
    grid-template-rows: minmax(#{rem(20)}, auto) 1fr minmax(#{rem(20)}, auto);

    & > * {
      margin: 0;
    }

    a {
      align-self: end;
    }

    a::after{
      display: none;
    }
  }
}

.article-teaser-event__icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.icon-label{
  margin-left: 7px;
  margin-right: 15px;
}

.post_download {
  &__extra-information {
    margin-bottom: rem(50);
  }
}

@include below($desktop-sm) {
  .article-teaser {
    grid-template-columns: 1fr;
  }
}

@include below($tablet-xs) {
  .posts {
    &_wrapper {
      grid-template-columns: 1fr;
    }
  }

  .article-teaser {
    grid-template-columns: 1fr;

    &__visual {
      width: 100%;
      height: rem(350);
    }
  }

  .article-teaser-event {
    grid-template-columns: 1fr;

    &__visual {
      width: 100%;
      height: rem(350);
    }
  }
}
