.slider {
  margin-top: 10rem;
}

.partners_slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider_wrapper {
  overflow: hidden;
  margin-top: 4rem;
}
.slider_gallery {
  display: inline-flex;
  transition: transform 0.5s linear;
  white-space: nowrap;
  align-items: center;
}
.slider_image {
  display: inline-block;
  margin-right: 5rem;
}

.slider_image img {
  width: 150px;
  height: auto;
}

.sliderBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}