{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
  {{ parent() }}

  {% if post_count > post_per_page %}
    <div class="loadmore-btn-wrap">
      <button class="loadmore-btn btn" id="loadmore">
        <span>{{ __('Load more', 'timber') }}</span>
      </button>
    </div>
  {% endif %}
{% endblock %}


