.btn {
  background-color: $nucleon-green;
  padding: rem(18) rem(32);
  font-weight: 400;
  transition: 200ms;
  width: fit-content;
  border: none;
  margin-top: rem(34);

  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $black;
  }

  &.grey {
    background-color: $nucleon-grey;
    color: $black;
    margin-right: rem(12);

    &:hover {
      color: $black;
      background-color: $nucleon-green;
    }

    &::after {
      display: none;
    }
  }

  &.grey:active {
    background-color: $nucleon-green;
  }

  &.black {
    background-color: $black;
    color: $nucleon-green;
    margin-right: rem(12);

    &:hover {
      color: $black;
      background-color: $nucleon-dark-grey;
    }
  }

  a {
    padding-bottom: 0;
    color: currentColor;

    &::after {
      display: none;
    }
  }
}

.loadmore-btn {
  margin-top: rem(80);

  &-wrap {
    display: flex;
    justify-content: center;
  }
}
