.scrollbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: rem(30);
  background: $black;
  z-index: 1;

  &-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: rem(30);
    height: 100vh;
    background: $nucleon-grey;
    z-index: 99999;
  }
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@include below($tablet) {
  .scrollbar {
    width: rem(20);
    &-wrapper {
      width: rem(20);
    }
  }
}
